<div class="topbar">
  <div class="topbar-container">
    <div class="topbar-content">
      <div class="topbar-logo">XYZ</div>
      <div class="topbar-menu">
        <div class="topbar-menu-left">
          <a routerLink="/products">Products</a>
        </div>
        <div class="topbar-menu-right" *ngIf="exchangeRateService.exchangeRates?.length">
          <select class="form-control form-control-sm" [(ngModel)]="exchangeRateService.selectedRate">
            <option *ngFor="let rate of exchangeRateService.exchangeRates" [ngValue]="rate">{{rate.base}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
