.topbar {
  background-color: #eeeeee;
  padding: 10px;

  .topbar-container {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }

  .topbar-content {
    display: flex;
    align-content: center;
    justify-content: flex-start;

    .topbar-logo {
      background-color: #fb5a95;
      color: #eee;
      border: none;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
    }

    .topbar-menu {
      margin: 0 20px;

      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > {
        flex: 1 1 auto;
      }

      a {
        font-weight: 600;
        font-size: large;

        &:hover {
          color: #777;
        }
      }
    }
  }
}
