<div class="product-list" *ngIf="products.length">
  <div class="product" *ngFor="let product of products" routerLink="/product/{{product.id}}">
    <div class="product-image"></div>
    <div class="title-price">
      <div>{{product.name}}</div>
      <div>{{product.price | exchangeCurrency:exchangeRateService.selectedRate | currency}}</div>
    </div>
    <div class="description">{{product.description}}</div>
  </div>
</div>
