.product-list {
  .product {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 30px;
    border: 1px solid transparent;
    padding: 10px;

    grid-template-areas:
      "image"
      "title-price"
      "description";

    &:hover {
      border: 1px solid #eee;
      cursor: pointer;
    }

    @media (min-width: 576px) {
      grid-template-columns: 100px auto;
      grid-template-rows: min-content auto;
      column-gap: 20px;

      grid-template-areas:
        "image title-price"
        "image description";
    }
    .product-image {
      grid-area: image;
      justify-self: center;
      height: 200px;
      width: 200px;
      line-height: 200px;
      background-color: #eee;
      text-align: center;

      @media (min-width: 576px) {
        height: 100px;
        width: 100px;
        line-height: 100px;
      }
    }
    .title-price {
      grid-area: title-price;
      font-weight: 400;
      font-size: 27px;
      display: flex;
      justify-content: space-between;
    }
    .description {
      grid-area: description;
    }
  }
}
