<div class="detail-layout" *ngIf="product">
  <div class="image">
    <div class="product-image">Product Image</div>
  </div>
  <div class="title">
    {{product.name | uppercase}}
    <a class="edit-link" routerLink="/product/{{product.id}}/edit" title="Edit product">
      <i class="fas fa-edit"></i>
    </a>
  </div>
  <div class="description">{{product.description}}</div>
  <div class="price">{{product.price | exchangeCurrency:exchangeRateService.selectedRate | currency}}</div>
  <div class="related">
    <div class="related-product" *ngFor="let relatedProduct of relatedProducts"
      routerLink="/product/{{relatedProduct.id}}">
      <div class="product-image">Product Image</div>
      <div class="title">{{relatedProduct.name}}</div>
      <div class="price">{{relatedProduct.price | exchangeCurrency:exchangeRateService.selectedRate | currency}}</div>
    </div>
  </div>
</div>
