.detail-layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  row-gap: 20px;

  grid-template-areas:
    "title"
    "image"
    "price"
    "description"
    "related";

  @media (min-width: 576px) {
    grid-template-columns: 60% 40%;
    grid-template-rows: max-content max-content auto auto;
    column-gap: 20px;

    grid-template-areas:
      "image title"
      "image price"
      "image description"
      "related related";
  }

  .title {
    grid-area: title;
    font-weight: 400;
    font-size: 27px;
    text-align: center;

    @media (min-width: 576px) {
      text-align: left;
    }
  }
  .price {
    grid-area: price;
    font-weight: 600;
    font-size: 27px;
  }
  .description {
    grid-area: description;
  }
  .related {
    margin-top: 30px;
    grid-area: related;
    display: flex;
    justify-content: center;

    .related-product {
      margin: 0 5px;
      width: 220px;
      border: 1px solid #eee;
      padding: 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
        border: 1px solid #ccc;
      }

      .title {
        font-weight: 400;
        font-size: 17px;
        text-align: left;
        margin-bottom: 5px;
      }
      .price {
        font-weight: 400;
        font-size: 17px;
        text-align: left;
      }
      .product-image {
        margin-bottom: 10px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        background-color: #eee;
      }
    }
  }
  .image {
    grid-area: image;

    .product-image {
      width: auto;
      height: 300px;
      background-color: #eee;
      line-height: 300px;
      text-align: center;
    }
  }
}
