<div *ngIf="product">
  <h2 class="mb-4">Edit Product</h2>
  <div class="col-sm-6">
    <div class="form-grid">
      <label>Name</label>
      <input class="form-control" type="text" [(ngModel)]="product.name" placeholder="Name">
      <label>Description</label>
      <textarea class="form-control" type="text" [(ngModel)]="product.description" placeholder="Description"
        rows="3"></textarea>
      <label>Price</label>
      <div class="input-group">
        <input class="form-control" type="number" [(ngModel)]="product.price.amount" placeholder="Price">
        <div class="form-control-addon">
          <select class="form-control" [(ngModel)]="product.price.base">
            <option *ngFor="let rate of exchangeRateService.exchangeRates" [ngValue]="rate.base">{{rate.base}}</option>
          </select>
        </div>
      </div>
      <label>Related products</label>
      <div class="related-products">
        <div *ngFor="let prod of otherProducts">
          <input type="checkbox" [value]="prod.id" [(ngModel)]="prod.selected" />
          {{prod.name}}
        </div>
      </div>
    </div>
    <div>
      <button class=" btn btn-outline-dark mr-2" (click)="back()">Cancel</button>
      <button class="btn btn-success" (click)="save()">Save</button>
    </div>
  </div>
</div>
